*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
    box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	outline: none;  
}
a{
	color: #333;
	cursor: pointer;
}
button{
    cursor: pointer;
}
img{
    cursor: pointer;
}
i{
	font-style: normal;
}
.g-center{
	position: relative;
    margin: 0 auto;
    width: 1200px;
    height: auto;
}
.g-header{
	width: 100%;
	height: 75px;
	float: left;
}
.g-wrap{
    border: 0!important;
}
.g-wrap p{
	font-size: 20px;
	color: #333;
	padding-top: 30px;
}
.process-bar {
    float: right;
    width: 494px;
}
.md_process.md_process_len4 .md_process_wrap {
    width: 494px;
    background: url('../images/upload_ie3wkzrtmrtdozdfguzdambqgayde_157x23.png') 0 18px repeat-x;
}
.md_process .md_process_wrap {
    position: relative;
    height: 23px;
    margin: 0 auto;
    padding: 18px 0 24px;
}
.md_process.md_process_len4 .md_process_step1_5 .md_process_sd {
    width: 90px;
}
.md_process.md_process_len4 .md_process_sd {
    background: url('../images/upload_ie4wcntcmntdozdfguzdambqgqyde_157x23.png') 23px 0 repeat-x;
}
.md_process .md_process_sd {
    position: absolute;
    top: 18px;
    left: 0;
    height: 23px;
}
.md_process_i1 .md_process_tip,.md_process_i1 .md_process_tip {
    color: #f46;
}
.md_process .md_process_tip, .md_process .md_process_tip_bt {
    position: absolute;
    top: 24px;
    width: 100px;
    height: 20px;
    left: 50%;
    margin-left: -50px;
    font: normal 12px/20px helvetica,tahoma,arial,sans-serif;
    color: #999;
}
.md_process .md_process_i {
    position: absolute;
    top: 18px;
    width: 23px;
    height: 23px;
    font: normal 14px/23px helvetica,tahoma,arial,sans-serif;
    color: #fff;
    text-align: center;
}
.md_process.md_process_len4 .md_process_i1 {
    left: 0;
}
.md_process.md_process_len4 .md_process_i2 {
    left: 157px;
    background: url('../images/upload_ie4wcntcmntdozdfguzdambqgqyde_157x23.png') 23px 0;
}
.md_process.md_process_len4 .md_process_i3 {
    left: 314px;
}
.md_process.md_process_len4 .md_process_i4 {
    left: 471px;
}
.logo-cart {
	float: left;
    width: 150px;
    margin-top: 14px;
    height: 48px;
    background: url('../images/upload_37che13j0d67379a6776fi6kbk71k_224x70.png') no-repeat;
    background-size: 100% 100%;
}
.xian1{
    width: 80px;
    height: 4px;
    background-color: #f46!important;
    margin: 10px 0 0 90px!important;
}
.xian4{
    width: 70px;
    height: 4px;
    background-color: #f46;
    margin: -5px 0 0 180px;
}
#bubu{
	width:600px;
	height:80px;
	float:right;
}
.banner{
	width:100%;
	height:600px;
}
.banner1{
	width:1200px;
	height:auto;
	margin:0 auto;
	background:#fff;
	overflow:hidden;
}
.td1{
	float:right;
	margin-right:10px; 
}
table span{
	color:#f00;
}
table{
	margin-top:15px;
}
table tr{
	height:60px;
	line-height: 60px;
}
#sure{
	display:inline-block;
	width:100px;
	height:30px;
	text-align: center;
	line-height:30px;
	background:orange;
	color:#fff;
	border-radius: 5px;
	margin-left:103px;
}
#no{
	display:inline-block;
	width:60px;
	height:30px;
	text-align: center;
	line-height:30px;
	border:1px solid #777;
	border-radius: 5px;
	margin-left: 20px;
}
#pp{
	width:1100px;
	height:50px;
	margin:10px auto;
	border-top:1px solid #7f7f7f;
	border-bottom:1px solid #7f7f7f;
}
#pp p{
	float: left;
	margin-left:260px;
}
#pp ul{
	float:right;
}
#pp ul li{
	float:left;
	line-height:50px;
	padding:0 32px;
}
#zhaopian{
	width:1100px;
	height:130px;
	border-top:1px solid #7f7f7f;
	border-bottom:1px solid #7f7f7f;
	margin:0 auto;
}
.zhaopian1{
	width:40%;
	height:60px;
	margin-top:20px;
	float:left;

}
.zhaopian1 img{
	float:left;
}
.zhaopian1 a{
	display:inline-block;
	float:left;
}
.zhaopian2{
	width:90%;
}
#chu{
	width:50%;
	height:130px;
	float:right;
	margin-top:20px;
}
#chu .p1{
	float:left;
	width:100px;
}
#chu .p2{
	float:left;
	width:100px;
	text-align: center;
}
#chu .p3{
	float:left;
	width:80px;
	text-align: right;
}
#chu .p4{
	margin-left: 20px;
	float:left;
	width:175px;
}
#chu .p5{
	float:left;
	width:50px;
}
#ooo{
	width:350px;
	height:30px;
}
#uu{
    width: 1100px;
    border-bottom: 1px solid #e7e7e7;
    height: 60px;
    margin: 0 30px;
}
#uu1{
	width:170px;
	height:60px;
	float:right;
	line-height:60px;
	color:#ff4f7c;
	float: right;
}
.uuu1{
	display: block;
    width: 110px;
    height: 20px;
    color: #f47;
    float: right;
}
#qw{
	width:1110px;
	height:60px;
	margin:0 20px;
	line-height:60px;
	padding-top: 20px;
}
#qqq{
	font-size: 12px;
	padding-left: 16px;
    background: url("../images/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png") -340px -3px no-repeat;
}
#ee{
	width:420px;
	height:60px;
	line-height: 50px;
	float:right;
}
#ee span{
	float:left;
	font-size: 12px;
}
#ee h2{
	float:left;
	color: #ff4f7c;
	font-weight: 700px;
}
.cart_surebtn {
	float: right;
    background: #ffa701;
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-family: microsoft yahei;
    display: block;
    width: 172px;
    height: 51px;
    margin-top: -1px;
    overflow: hidden;
}
#mogujie{
	width:600px;
	margin:0 auto;
}
#m0{
	width:800px;
	height:100px;
	margin:0 auto;
}
#m0 div{
	margin-top: 30px;
	margin-left: 30px;
	width:80px;
	height:31px;
	float:left;
}

#m1{
	background:url("../images/split.png") no-repeat;
	background-position:0px -44px;
}
#m2{
	background:url("../images/split.png") no-repeat;
	background-position:-70px -46px;
}
#m3{
	background:url("../images/split.png") no-repeat;
	background-position:-155px -44px;
}
#m4{
	background:url("../images/split.png") no-repeat;
	background-position:-230px -44px;
}
#m0 #m4{
	width:160px;
	background:url("../images/split.png") no-repeat;
	background-position:-230px -44px;
}
#m5{
	background:url("../images/split.png") no-repeat;
	background-position:-401px -44px;
}
#m6{
	background:url("../images/split.png") no-repeat;
	background-position:-481px -44px;
}