*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
    box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	outline: none; 
}
a{
	color: #333;
    cursor: pointer;
}
button{
    cursor: pointer;
}
img{
    cursor: pointer;
}
.g-header{
	width: 100%;
	height: 75px;
	float: left;
}
.process-bar {
    float: right;
    width: 494px;
}
.md_process .md_process_wrap {
    position: relative;
    height: 23px;
    margin: 0 auto;
    padding: 18px 0 24px;
}
.md_process.md_process_len4 .md_process_step1_5 .md_process_sd {
    width: 90px;
}
.md_process.md_process_len4 .md_process_sd {
    background: url('../images/upload_ie4wcntcmntdozdfguzdambqgqyde_157x23.png') 23px 0;
}
.md_process .md_process_sd {
    position: absolute;
    top: 18px;
    left: 0;
    height: 23px;
}
.md_process_i1 .md_process_tip,.md_process_i1 .md_process_tip {
    color: #f46;
}
.md_process .md_process_tip, .md_process .md_process_tip_bt {
    position: absolute;
    top: 24px;
    width: 100px;
    height: 20px;
    left: 50%;
    margin-left: -50px;
    font: normal 12px/20px helvetica,tahoma,arial,sans-serif;
    color: #999;
}
.xian1{
    width: 80px;
    height: 4px;
    background-color: #eee;
    margin: 10px 0 0 80px;
}
.xian2{
    width: 140px;
    height: 4px;
    background-color: #eee;
    margin: -5px 0 0 180px;
}
.xian3{
    width: 140px;
    height: 4px;
    background-color: #eee;
    margin: -5px 0 0 332px;
}
.md_process .md_process_i {
    position: absolute;
    top: 18px;
    width: 23px;
    height: 23px;
    font: normal 14px/23px helvetica,tahoma,arial,sans-serif;
    color: #fff;
    text-align: center;
}
.md_process.md_process_len4 .md_process_i1 {
    left: 0;
}
.md_process.md_process_len4 .md_process_i2 {
    left: 157px;
    background-color: #eee;
    border-radius: 50%;
}
.md_process.md_process_len4 .md_process_i3 {
    left: 314px;
    background-color: #eee;
    border-radius: 50%;
}
.md_process.md_process_len4 .md_process_i4 {
    left: 471px;
    background-color: #eee;
    border-radius: 50%;
}
.logo-cart a{
    display: block;
	float: left;
    width: 150px;
    margin-top: 14px;
    height: 48px;
    background: url('../images/upload_37che13j0d67379a6776fi6kbk71k_224x70.png') no-repeat;
    background-size: 100% 100%;
}
.g-wrap{
	clear: both;
	border-top: 1px solid #aaa;
	width: 100%;
}
.g{
	width: 100%;
	height: 100%;
	background: #f4f4f4;	
}
.g-center{
	position: relative;
    margin: 0 auto;
    width: 1200px;
    height: auto;
}
.g-warp-all{
    clear: both;
    border: 1px solid #333;
    background-color: #333;
    border-radius: 3px;
    width: 110px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    color: #eee;
    margin-top: 30px;
}
.g-warp-all span{
	background-color: #333;
	color: #eee;
	font-size: 13px;
}
#cartPage {
    background: #fff;
    padding: 20px 26px;
}
.cart_table {
    width: 100%;
}
.cart_table tr{
	font-size: 12px;
}
.cart_table .cart_table_check_wrap {
    width: 60px;
}
.cart_table th {
    border-top: none;
}
.cart_table td, .cart_table th {
    border-bottom: 1px solid #efefef;
}
.cart_table th {
    border-top: 1px solid #efefef;
    padding: 15px 0;
    font-weight: 400;
}
.cart_alleft {
    text-align: left;
}
.pl10 {
    padding-left: 10px!important;
}
.cart_table .tr_checkmr {
    margin-right: 5px;
}
.cart_table td {
    padding: 16px 0;
    line-height: 24px;
    text-align: center;
}
.cart_group_head{
    text-align: left!important;
}
.cart_lightgray {
    color: #999;
}
.cart_im_btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('../images/upload_iezggojsgfrwinlbgmzdambqmmyde_16x17.gif') 50% no-repeat;
    text-indent: -99999px;
}
.cart_table td.vm {
    vertical-align: middle;
}
.cart_thcheck {
    display: block;
    margin-left: 10px;
}
.cart_table .cart_table_goods_wrap {
    padding: 16px 10px;
    width: 280px;
}
.cart_goods_img {
    float: left;
    position: relative;
    height: 80px;
}
.cart_goods_img img {
    display: block;
    border: 1px solid #ccc;
}
.cart_goods_t {
    display: block;
    margin: 0 20px 0 90px;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 80px;
}
.cart_lh20 {
    line-height: 20px;
}
.cart_tip_focuswidth {
    min-width: 64px;
}
.cart_tip_redw, .cart_tip_yellow {
    display: inline-block;
    font-weight: 700;
    line-height: 12px;
}
.cart_tip_yellow {
    color: #fb5e00;
}
.cart_throughline {
    text-decoration: line-through;
}
.number{
    position: relative;
    left: 50px;
    width: 95px;
    height: 25px;
    border: 1px solid #ddd;
}
.cart_bold {
    font-weight: 700;
}
.number .minus{
    float: left;
    width: 24px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
    opacity: 0.3;
    background: url('../images/icon_4.png') no-repeat -3px 2px;
    overflow: hidden;
}
.number .number_1{
    width: 44px;
    text-align: center;
    color: #000;
    font-size: 14px;
    border: 0;
    height: 25px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    float: left;
    background: none;
}
.number .add{
    float: left;
    width: 24px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
    background: url('../images/icon_4.png') no-repeat -3px -78px;
    overflow: hidden;
}
.cart_deep_red {
    color: #f13e3a;
}
.cart_font16 {
    font-size: 16px!important;
}
.cart_paybtn .cart_paybtn_disable, .cart_surebtn {
    display: block;
    width: 152px;
    height: 51px;
    margin-top: -1px;
    overflow: hidden;
}
.cart_paybtn.cart_paybtn_disable {
    background: url('../images/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png') 0 -800px no-repeat;
}
.cart_paybtn{
    display: block;
    width: 152px;
    height: 50px;
    background: url('../images/1blhwf_ie2tiobvhfrdkojrgezdambqhayde_360x900.png') 0 -216px no-repeat;
    overflow: hidden;
}
.fr {
    float: right;
}
.cart_paybar_info_cost {
    position: relative;
    padding: 0 12px 0 8px;
    display: inline-block;
}
.cart_deep_red {
    color: #f13e3a;
}
.cart_bold {
    font-weight: 700;
}
.cart_font26 {
    font-size: 26px;
}
.cart_money {
    font-family: Microsoft YaHei,sans-serif;
    line-height: 50px;
}
.cart_pregray {
    color: #666!important;
    font-size: 12px;
    line-height: 50px;
}
#kong{
	clear: both;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    line-height: 300px;
    font-size: 30px;
    color: #666;
    display: block;
}
#wancheng{
    clear: both;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    line-height: 300px;
    font-size: 30px;
    color: #666;
}
.g-footer {
    padding: 40px 0;
    text-align: center;
    clear: both;
}
.g-footer a,p{
    color: #999;
    font-size: 14px;
}
.g-footer .icons {
    padding-top: 16px;
    height: 28px;
    text-align: center;
}
.g-footer .icons .vs {
    width: 80px;
    background: url('../images/split.png') 0 -50px no-repeat;
    cursor: default;
}
.g-footer .icons .mc {
    width: 74px;
    background: url('../images/split.png') -90px -50px no-repeat;
    cursor: default;
}
.g-footer .icons .up {
    width: 50px;
    background: url('../images/split.png') -178px -50px no-repeat;
    cursor: default;
}
.g-footer .icons .pa {
    width: 164px;
    vertical-align: top;
    background: url('../images/split.png') -240px -50px no-repeat;
}
.g-footer .icons .kx {
    width: 84px;
    background: url('../images/split.png') -400px -50px no-repeat;
}
.g-footer .icons .pc {
    width: 50px;
    background: url('../images/split.png') -486px -50px no-repeat;
}
.g-footer .icons .kx, .g-footer .icons .mc, .g-footer .icons .pa, .g-footer .icons .pc, .g-footer .icons .up, .g-footer .icons .vs {
    display: inline-block;
    height: 28px;
    vertical-align: top;
}